# Correlation with target variable

We focus on each vehicle finding the correlation between 18 features and the target variable.

Each country as seperate table. Each row is the vehicle (17 rows) and rows are correlation with the target variables

In [1]:
vehicle_group_list = [f'vehiclegroup{i:02}' for i in range(1, 65)]
country_list = [f'Country {name}' for name in ['A', 'B', 'C', 'D']]
print(vehicle_group_list)
print(country_list)

['vehiclegroup01', 'vehiclegroup02', 'vehiclegroup03', 'vehiclegroup04', 'vehiclegroup05', 'vehiclegroup06', 'vehiclegroup07', 'vehiclegroup08', 'vehiclegroup09', 'vehiclegroup10', 'vehiclegroup11', 'vehiclegroup12', 'vehiclegroup13', 'vehiclegroup14', 'vehiclegroup15', 'vehiclegroup16', 'vehiclegroup17', 'vehiclegroup18', 'vehiclegroup19', 'vehiclegroup20', 'vehiclegroup21', 'vehiclegroup22', 'vehiclegroup23', 'vehiclegroup24', 'vehiclegroup25', 'vehiclegroup26', 'vehiclegroup27', 'vehiclegroup28', 'vehiclegroup29', 'vehiclegroup30', 'vehiclegroup31', 'vehiclegroup32', 'vehiclegroup33', 'vehiclegroup34', 'vehiclegroup35', 'vehiclegroup36', 'vehiclegroup37', 'vehiclegroup38', 'vehiclegroup39', 'vehiclegroup40', 'vehiclegroup41', 'vehiclegroup42', 'vehiclegroup43', 'vehiclegroup44', 'vehiclegroup45', 'vehiclegroup46', 'vehiclegroup47', 'vehiclegroup48', 'vehiclegroup49', 'vehiclegroup50', 'vehiclegroup51', 'vehiclegroup52', 'vehiclegroup53', 'vehiclegroup54', 'vehiclegroup55', 'vehiclegroup56', 'vehiclegroup57', 'vehiclegroup58', 'vehiclegroup59', 'vehiclegroup60', 'vehiclegroup61', 'vehiclegroup62', 'vehiclegroup63', 'vehiclegroup64']
['Country A', 'Country B', 'Country C', 'Country D']

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data/kitCapstoneJan24_data.csv", delimiter=";")
df.head()

,month,countryname,sales_actuals_monthly__vehiclegroup01__orderintake,sales_actuals_monthly__vehiclegroup01__retail,sales_actuals_monthly__vehiclegroup02__orderintake,sales_actuals_monthly__vehiclegroup02__retail,sales_actuals_monthly__vehiclegroup03__orderintake,sales_actuals_monthly__vehiclegroup03__retail,sales_actuals_monthly__vehiclegroup04__orderintake,sales_actuals_monthly__vehiclegroup04__retail,...,registrations__buildtype_suv,registrations__buildtype_transport,registrations__buildtype_van,registrations__buildtype_cabrio,registrations__buildtype_stufenheck,registrations__buildtype_kurzheck,registrations__buildtype_other,registrations__buildtype_pickup,registrations__buildtype_coupe,registrations__buildtype_kombi
0,1,Country A,296.0,352.0,739.0,471.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Country A,414.0,372.0,904.0,528.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Country A,405.0,604.0,1000.0,953.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Country A,359.0,483.0,828.0,972.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Country A,403.0,474.0,594.0,900.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
col_names = list(df.columns)
print(col_names[2:10])

['sales_actuals_monthly__vehiclegroup01__orderintake', 'sales_actuals_monthly__vehiclegroup01__retail', 'sales_actuals_monthly__vehiclegroup02__orderintake', 'sales_actuals_monthly__vehiclegroup02__retail', 'sales_actuals_monthly__vehiclegroup03__orderintake', 'sales_actuals_monthly__vehiclegroup03__retail', 'sales_actuals_monthly__vehiclegroup04__orderintake', 'sales_actuals_monthly__vehiclegroup04__retail']

In [4]:
vehicle_list = []
sales_info_list  = []

for col in col_names:
    # vehicle group 
    if "vehiclegroup" in col:
        vehicle_name = col.split("__")[1]
        if vehicle_name not in vehicle_list: 
            vehicle_list.append(vehicle_name)

    # sales
    if "sales" in col:
        col_info = col.split("__")
        try:
            sale_info = col_info[0] + "__" + col_info[2]
            if sale_info not in sales_info_list: 
                sales_info_list.append(sale_info)
        except IndexError:
            print(col_info)
            break

['global_consumer', 'nominal_retail_sales_of_consumer_goods_catering_trade_of_enterprises_or_units_above_designated_size']

In [5]:
print(vehicle_list)

['vehiclegroup01', 'vehiclegroup02', 'vehiclegroup03', 'vehiclegroup04', 'vehiclegroup05', 'vehiclegroup06', 'vehiclegroup07', 'vehiclegroup08', 'vehiclegroup09', 'vehiclegroup10', 'vehiclegroup11', 'vehiclegroup12', 'vehiclegroup13', 'vehiclegroup14', 'vehiclegroup15', 'vehiclegroup16', 'vehiclegroup17', 'vehiclegroup18', 'vehiclegroup19', 'vehiclegroup20', 'vehiclegroup21', 'vehiclegroup22', 'vehiclegroup23', 'vehiclegroup24', 'vehiclegroup25', 'vehiclegroup26', 'vehiclegroup27', 'vehiclegroup28', 'vehiclegroup29', 'vehiclegroup30', 'vehiclegroup31', 'vehiclegroup32', 'vehiclegroup33', 'vehiclegroup34', 'vehiclegroup35', 'vehiclegroup36', 'vehiclegroup37', 'vehiclegroup38', 'vehiclegroup39', 'vehiclegroup40', 'vehiclegroup41', 'vehiclegroup42', 'vehiclegroup43', 'vehiclegroup44', 'vehiclegroup45', 'vehiclegroup46', 'vehiclegroup47', 'vehiclegroup48', 'vehiclegroup49', 'vehiclegroup50', 'vehiclegroup51', 'vehiclegroup52', 'vehiclegroup53', 'vehiclegroup54', 'vehiclegroup55', 'vehiclegroup56', 'vehiclegroup57', 'vehiclegroup58', 'vehiclegroup59', 'vehiclegroup60', 'vehiclegroup61', 'vehiclegroup62', 'vehiclegroup63', 'vehiclegroup64']

In [6]:
sales_info_list

['sales_actuals_monthly__orderintake',
 'sales_actuals_monthly__retail',
 'sales_flow_monthly__cp8',
 'sales_stock_monthly__physical',
 'sales_stock_monthly__grossall',
 'sales_stock_monthly__netimporteranddealer',
 'premises__in_sales']